In [1]:
import pandas as pd
import numpy as np

In [2]:
# Read and combine data ---------------------------------------------------
final_hcris_v1996 = pd.read_csv('/Users/ellenwu/homework2-2/data/*/output/HCRIS_v1996.csv')
final_hcris_v2010 = pd.read_csv('/Users/ellenwu/homework2-2/data/*/output/HCRIS_v2010.csv')

In [3]:
# Create missing variables for columns introduced in v2010
final_hcris_v1996['hvbp_payment'] = np.nan
final_hcris_v1996['hrrp_payment'] = np.nan

In [4]:
# Combine v1996 and v2010 datasets
final_hcris = pd.concat([final_hcris_v1996, final_hcris_v2010])

In [5]:
# Convert date columns to datetime format
for col in ['fy_end', 'fy_start', 'date_processed', 'date_created']:
    final_hcris[col] = pd.to_datetime(final_hcris[col], format='%m/%d/%Y')

In [6]:
# Convert to absolute values
final_hcris['tot_discounts'] = final_hcris['tot_discounts'].abs()
final_hcris['hrrp_payment'] = final_hcris['hrrp_payment'].abs()

In [7]:
# Extract fiscal year and sort
final_hcris['fyear'] = final_hcris['fy_end'].dt.year
final_hcris = final_hcris.sort_values(by=['provider_number', 'fyear']).drop(columns=['year'], errors='ignore')

In [8]:
# Count hospitals per year
hospital_counts = final_hcris.groupby('fyear').size()

In [9]:
# Clean data --------------------------------------------------------------

# Create count of reports by hospital fiscal year
final_hcris['total_reports'] = final_hcris.groupby(['provider_number', 'fyear'])['provider_number'].transform('count')
final_hcris['report_number'] = final_hcris.groupby(['provider_number', 'fyear']).cumcount() + 1

In [12]:

# Identify hospitals with one report per year
unique_hcris1 = final_hcris[final_hcris['total_reports'] == 1].drop(columns=['report', 'total_reports', 'report_number', 'npi', 'status'], errors='ignore')
unique_hcris1['source'] = 'unique reports'
print(unique_hcris1)

      provider_number   fy_start     fy_end date_processed date_created  \
3301            10001 2017-10-01 2018-09-30     2021-01-19   2021-01-18
3151            10005 2017-10-01 2018-09-30     2021-01-15   2021-01-08
4490            10006 2018-07-01 2019-06-30     2021-06-03   2021-06-02
3152            10007 2017-10-01 2018-09-30     2021-01-15   2021-01-08
3499            10008 2018-01-01 2018-12-31     2021-02-01   2021-01-30
...               ...        ...        ...            ...          ...
485            673063 2018-08-01 2019-07-31     2020-01-16   2020-01-03
279            673064 2018-04-01 2019-03-31     2019-09-19   2019-09-09
23             673065 2017-10-01 2018-09-30     2019-02-05   2019-01-31
26             673066 2017-11-10 2018-09-30     2019-02-08   2019-02-05
6012           673067 2018-05-25 2019-05-31     2022-06-08   2022-06-03

       beds   tot_charges  tot_discounts  tot_operating_exp   ip_charges  ...  \
3301  327.0  1.839801e+09   1.498919e+09        352067099.0  167657008.0  ...
3151  204.0  4.424296e+08   2.947402e+08        158201110.0   19453944.0  ...
4490  233.0  8.909051e+08   7.204014e+08        157276267.0   45637441.0  ...
3152   45.0  5.170429e+07   3.671992e+07         18413585.0    1892302.0  ...
3499   29.0  3.701666e+07   2.775302e+07         11942121.0    1311390.0  ...
...     ...           ...            ...                ...          ...  ...
485    93.0  6.683452e+07   3.340197e+07         30030816.0   41394500.0  ...
279    41.0  9.129741e+06   4.236014e+06          7024127.0    3796900.0  ...
23     49.0  3.510397e+07   1.189865e+07         18219096.0   18692145.0  ...
26     40.0  2.101045e+07   6.885030e+06          9903821.0   11256499.0  ...
6012   40.0  3.281952e+07   1.958071e+07         13693627.0   14019145.0  ...

      secondary_mcare_payment                       street           city  \
3301                  60879.0       1108 ROSS CLARK CIRCLE         DOTHAN
3151                  32978.0        2505 U.S. HIGHWAY 431           BOAZ
4490                  53692.0          1701 VETERANS DRIVE       FLORENCE
3152                      NaN              702 MAIN STREET            OPP
3499                      NaN  CRENSHAW COMMUNITY HOSPITAL        LUVERNE
...                       ...                          ...            ...
485                       NaN        4302 PRINCETON STREET        LUBBOCK
279                       NaN      3100 PETERS COLONY ROAD   FLOWER MOUND
23                        NaN            1600 JOSEPH DRIVE          BRYAN
26                        NaN   2121 BUSINESS CENTER DRIVE       PEARLAND
6012                      NaN          345 S. WATER STREET  CORPUS CHRIST

      state         zip      county  hvbp_payment hrrp_payment fyear  \
3301     AL       36301     HOUSTON       34509.0     337123.0  2018
3151     AL      35957-    MARSHALL      -12401.0     283271.0  2018
4490     AL       35630  LAUDERDALE     -314766.0     570798.0  2019
3152     AL      36462-   COVINGTON      -13411.0      24726.0  2018
3499     AL       36049    CRENSHAW           NaN        628.0  2018
...     ...         ...         ...           ...          ...   ...
485      TX       79415     LUBBOCK           NaN          NaN  2019
279      TX  75022-2949         NaN           NaN          NaN  2019
23       TX       77802      BRAZOS           NaN          NaN  2018
26       TX       77584     BRAORIA           NaN          NaN  2018
6012     TX       78401      NUECES           NaN          NaN  2019

              source
3301  unique reports
3151  unique reports
4490  unique reports
3152  unique reports
3499  unique reports
...              ...
485   unique reports
279   unique reports
23    unique reports
26    unique reports
6012  unique reports

[6153 rows x 26 columns]

In [11]:
# Identify hospitals with multiple reports per year
duplicate_hcris = final_hcris[final_hcris['total_reports'] > 1].copy()
print(duplicate_hcris)

      report  provider_number  npi   fy_start     fy_end date_processed  \
202   650635            30137  NaN 2018-07-25 2018-12-31     2019-07-10
5926  717931            30137  NaN 2018-01-01 2018-07-24     2022-05-26
4     631292            50043  NaN 2018-01-01 2018-02-28     2018-08-21
2795  683872            50043  NaN 2018-03-01 2018-12-31     2020-12-31
3     631094            50305  NaN 2018-01-01 2018-02-28     2018-08-21
2836  683939            50305  NaN 2018-03-01 2018-12-31     2020-12-31
2     631016            50523  NaN 2018-01-01 2018-02-28     2018-08-21
2856  683971            50523  NaN 2018-03-01 2018-12-31     2020-12-31
441   661471            61326  NaN 2018-01-01 2018-03-31     2019-12-19
810   667994            61326  NaN 2018-04-01 2018-06-30     2020-04-23
4478  691659           100211  NaN 2017-10-01 2018-03-31     2021-06-02
4952  695916           100211  NaN 2018-04-01 2018-09-30     2021-08-18
44    644255           102012  NaN 2018-01-01 2018-03-31     2019-03-13
5059  699150           102012  NaN 2018-04-01 2018-08-31     2021-09-30
4359  690938           110046  NaN 2017-10-01 2018-03-31     2021-05-17
5277  710306           110046  NaN 2018-04-01 2018-06-30     2022-01-19
4973  696950           140054  NaN 2017-10-01 2018-02-28     2021-08-27
5670  716408           140054  NaN 2018-03-01 2018-06-30     2022-04-21
480   662694           151320  NaN 2017-10-01 2018-02-28     2020-01-16
3283  685114           151320  NaN 2018-03-01 2018-12-31     2021-01-15
73    645559           190167  NaN 2018-08-01 2018-09-30     2019-03-28
2010  681182           190167  NaN 2017-10-01 2018-07-31     2020-12-09
3395  685566           250162  NaN 2018-04-01 2018-09-30     2021-01-26
4058  688910           250162  NaN 2017-10-01 2018-03-31     2021-03-26
951   669564           310115  NaN 2018-01-01 2018-06-30     2020-06-02
3794  687785           310115  NaN 2018-07-01 2018-12-31     2021-03-05
40    644057           380005  NaN 2018-05-01 2018-09-30     2019-03-11
2660  683592           380005  NaN 2017-10-01 2018-04-30     2020-12-29
5177  705779           440083  NaN 2018-01-01 2018-05-31     2021-12-02
5178  705780           440083  NaN 2018-06-01 2018-12-31     2021-12-02
6     632097           450083  NaN 2017-11-01 2018-02-28     2018-09-17
3191  684802           450083  NaN 2018-03-01 2018-10-31     2021-01-15
7     632098           450194  NaN 2017-11-01 2018-02-28     2018-09-17
3251  684954           450194  NaN 2018-03-01 2018-10-31     2021-01-15
8     632541           450475  NaN 2017-10-01 2018-02-28     2018-09-17
5953  718111           450475  NaN 2018-03-01 2018-09-30     2022-05-27
687   665233           451367  NaN 2017-12-01 2018-02-28     2020-03-02
1463  676376           451367  NaN 2018-03-01 2018-11-30     2020-10-28
785   667729           500053  NaN 2018-08-04 2018-12-31     2020-04-15
3297  685185           500053  NaN 2018-01-01 2018-08-03     2021-01-15

     date_created  status   beds   tot_charges  ...  \
202    2019-06-27       1   49.0  3.890665e+07  ...
5926   2022-05-25       2   49.0  6.504744e+07  ...
4      2018-08-09       1  296.0  2.979716e+08  ...
2795   2020-12-14       1  296.0  1.419663e+09  ...
3      2018-08-07       1  337.0  3.030534e+08  ...
2836   2020-12-15       1  337.0  1.524599e+09  ...
2      2018-08-01       1  145.0  1.414324e+08  ...
2856   2020-12-11       1  145.0  6.575279e+08  ...
441    2019-12-18       2   15.0  1.207072e+07  ...
810    2020-04-22       2   15.0  1.121859e+07  ...
4478   2021-06-01       2  120.0  2.032432e+08  ...
4952   2021-08-17       2  120.0  1.681679e+08  ...
44     2019-03-12       2  107.0  2.169379e+07  ...
5059   2021-09-29       4  107.0  1.744180e+07  ...
4359   2021-05-17       2   76.0  1.725949e+08  ...
5277   2022-01-18       2   76.0  8.241270e+07  ...
4973   2021-08-12       2  263.0  6.793527e+08  ...
5670   2022-04-14       2  263.0  5.836478e+08  ...
480    2019-12-30       2   25.0  4.460698e+07  ...
3283   2021-01-14       4   25.0  7.672048e+07  ...
73     2019-03-26       1   99.0  6.352666e+07  ...
2010   2020-12-08       1   95.0  3.250243e+08  ...
3395   2021-01-25       1   47.0  4.689933e+07  ...
4058   2021-03-23       2  102.0  5.106702e+07  ...
951    2020-05-29       2   30.0  2.501425e+08  ...
3794   2021-02-24       2   64.0           NaN  ...
40     2019-03-07       1   38.0  6.020422e+07  ...
2660   2020-12-23       1   31.0  9.264769e+07  ...
5177   2021-11-30       2   54.0  3.975549e+07  ...
5178   2021-12-01       3   54.0  4.974707e+07  ...
6      2018-09-05       1  399.0  9.713199e+08  ...
3191   2021-01-10       1  339.0  1.995103e+09  ...
7      2018-09-05       1   32.0  5.339661e+07  ...
3251   2021-01-12       5   32.0  1.023492e+08  ...
8      2018-09-13       1   41.0  7.557748e+07  ...
5953   2022-05-26       2   41.0  1.104495e+08  ...
687    2020-03-02       2   25.0  2.564750e+07  ...
1463   2020-10-27       2   25.0  6.673541e+07  ...
785    2020-04-08       5  111.0  1.844756e+08  ...
3297   2021-01-15       5  111.0  2.810155e+08  ...

                          street           city  state     zip  \
202      4455 I-19 FRONTAGE ROAD   GREEN VALLEY     AZ   85614
5926     4455 I-19 FRONTAGE ROAD   GREEN VALLEY     AZ   85614
4           350 HAWTHORNE AVENUE        OAKLAND     CA  94609-
2795        350 HAWTHORNE AVENUE        OAKLAND     CA  94609-
3              2450 ASHBY AVENUE       BERKELEY     CA  94705-
2836           2450 ASHBY AVENUE       BERKELEY     CA  94705-
2             3901 LONE TREE WAY        ANTIOCH     CA  94509-
2856          3901 LONE TREE WAY        ANTIOCH     CA  94509-
441        16420 WEST HIGHWAY 24  WOODLAND PARK     CO   80863
810        16420 WEST HIGHWAY 24  WOODLAND PARK     CO   80863
4478        13100 FORT KING ROAD      DADE CITY     FL   33525
4952        13100 FORT KING ROAD      DADE CITY     FL   33525
44           4901 RICHARD STREET   JACKSONVILLE     FL   32207
5059         4901 RICHARD STREET   JACKSONVILLE     FL   32207
4359     2151 WEST SPRING STREET         MONROE     GA   30655
5277     2151 WEST SPRING STREET         MONROE     GA   30655
4973  3249 SOUTH OAK PARK AVENUE         BERWYN     IL   60402
5670  3249 SOUTH OAK PARK AVENUE         BERWYN     IL   60402
480                 500 W. VOTAW       PORTLAND     IN  47371-
3283                500 W. VOTAW       PORTLAND     IN   47371
73          800 EAST MAIN STREET   VILLE PLATTE     LA   70586
2010        800 EAST MAIN STREET   VILLE PLATTE     LA   70586
3395         149 DRINKWATER BLVD  BAY ST. LOUIS     MS   39520
4058         149 DRINKWATER BLVD  BAY ST. LOUIS     MS   39520
951      651 WILLOW GROVE STREET   HACKETTSTOWN     NJ   07823
3794     651 WILLOW GROVE STREET   HACKETTSTOWN     NJ   07823
40                  280 MAPLE ST        ASHLAND     OR   97520
2660                280 MAPLE ST        ASHLAND     OR   97520
5177     436 CENTRAL AVENUE WEST      JAMESTOWN     TN   38556
5178        436 CENTRAL AVE WEST      JAMESTOWN     TN   38556
6             1000 SOUTH BECKHAM          TYLER     TX  75711-
3191          1000 SOUTH BECKHAM          TYLER     TX  75711-
7                 501 S RAGSDALE   JACKSONVILLE     TX  75766-
3251              501 S RAGSDALE   JACKSONVILLE     TX  75766-
8                  300 WILSON ST      HENDERSON     TX  75652-
5953               300 WILSON ST      HENDERSON     TX  75652-
687            2701 US HWY 271 N      PITTSBURG     TX  75686-
1463           2701 US HWY 271 N      PITTSBURG     TX  75686-
785          900 SOUTH AUBURN ST      KENNEWICK     WA   99336
3297         900 SOUTH AUBURN ST      KENNEWICK     WA   99336

                 county  hvbp_payment  hrrp_payment  fyear  total_reports  \
202                PIMA           NaN        2972.0   2018              2
5926               PIMA           NaN       10140.0   2018              2
4               ALAMEDA      -30772.0       82136.0   2018              2
2795            ALAMEDA     -123837.0      273851.0   2018              2
3               ALAMEDA      -57335.0       10829.0   2018              2
2836            ALAMEDA     -224607.0       36465.0   2018              2
2          CONTRA COSTA        2796.0       58819.0   2018              2
2856       CONTRA COSTA      -14873.0      202902.0   2018              2
441              TELLER           NaN           NaN   2018              2
810              TELLER           NaN           NaN   2018              2
4478              PASCO       -8589.0        7629.0   2018              2
4952              PASCO       -6411.0        5695.0   2018              2
44                DUVAL           NaN           NaN   2018              2
5059              DUVAL           NaN           NaN   2018              2
4359             WALTON      -11952.0           NaN   2018              2
5277                NaN       -4388.0           NaN   2018              2
4973               COOK     -103901.0      185406.0   2018              2
5670               COOK      -83016.0      148137.0   2018              2
480                 JAY           NaN           NaN   2018              2
3283                JAY           NaN           NaN   2018              2
73    EVANGELINE PARISH           NaN           NaN   2018              2
2010                NaN       34148.0       49750.0   2018              2
3395            HANCOCK       11171.0        5006.0   2018              2
4058            HANCOCK       14780.0        6623.0   2018              2
951              WARREN      -41187.0      103594.0   2018              2
3794             WARREN      -55953.0       68838.0   2018              2
40              JACKSON       25024.0           NaN   2018              2
2660            JACKSON       46350.0           NaN   2018              2
5177           FENTRESS       -4699.0        3343.0   2018              2
5178           FENTRESS       -3329.0        1976.0   2018              2
6                 SMITH     -240874.0      406500.0   2018              2
3191              SMITH     -454052.0      796202.0   2018              2
7              CHEROKEE        1792.0        2386.0   2018              2
3251           CHEROKEE        1939.0        3792.0   2018              2
8                  RUSK        2268.0       11965.0   2018              2
5953               RUSK        3448.0       18189.0   2018              2
687                CAMP           NaN           NaN   2018              2
1463               CAMP           NaN           NaN   2018              2
785              BENTON       10453.0       41482.0   2018              2
3297             BENTON       -1640.0       48447.0   2018              2

      report_number
202               1
5926              2
4                 1
2795              2
3                 1
2836              2
2                 1
2856              2
441               1
810               2
4478              1
4952              2
44                1
5059              2
4359              1
5277              2
4973              1
5670              2
480               1
3283              2
73                1
2010              2
3395              1
4058              2
951               1
3794              2
40                1
2660              2
5177              1
5178              2
6                 1
3191              2
7                 1
3251              2
8                 1
5953              2
687               1
1463              2
785               1
3297              2

[40 rows x 30 columns]

In [13]:
# Calculate elapsed time between fy start and fy end for hospitals with multiple reports
duplicate_hcris['time_diff'] = (duplicate_hcris['fy_end'] - duplicate_hcris['fy_start']).dt.days
duplicate_hcris['total_days'] = duplicate_hcris.groupby(['provider_number', 'fyear'])['time_diff'].transform('sum')

In [14]:
# Hospitals where total days < 370, sum values
unique_hcris2 = duplicate_hcris[duplicate_hcris['total_days'] < 370].groupby(['provider_number', 'fyear']).agg({
    'beds': 'max', 'tot_charges': 'sum', 'tot_discounts': 'sum',
    'tot_operating_exp': 'sum', 'ip_charges': 'sum', 'icu_charges': 'sum',
    'ancillary_charges': 'sum', 'tot_discharges': 'sum', 'mcare_discharges': 'sum',
    'mcaid_discharges': 'sum', 'tot_mcare_payment': 'sum',
    'secondary_mcare_payment': 'sum', 'hvbp_payment': 'sum', 'hrrp_payment': 'sum',
    'fy_start': 'min', 'fy_end': 'max', 'date_processed': 'max', 'date_created': 'min',
    'street': 'first', 'city': 'first', 'state': 'first',
    'zip': 'first', 'county': 'first'
}).reset_index()
unique_hcris2['source'] = 'total for year'

In [15]:
# Hospitals with reports exceeding 370 days
duplicate_hcris2 = duplicate_hcris[duplicate_hcris['total_days'] >= 370].copy()
duplicate_hcris2['max_days'] = duplicate_hcris2.groupby(['provider_number', 'fyear'])['time_diff'].transform('max')
duplicate_hcris2['max_date'] = duplicate_hcris2.groupby(['provider_number', 'fyear'])['fy_end'].transform('max')

In [16]:
# Primary report selection
unique_hcris3 = duplicate_hcris2[(duplicate_hcris2['max_days'] == duplicate_hcris2['time_diff']) &
                                  (duplicate_hcris2['time_diff'] > 360) &
                                  (duplicate_hcris2['max_date'] == duplicate_hcris2['fy_end'])]
unique_hcris3 = unique_hcris3.drop(columns=['report', 'total_reports', 'report_number', 'npi', 'status', 'max_days', 'time_diff', 'total_days', 'max_date'], errors='ignore')
unique_hcris3['source'] = 'primary report'

In [18]:
# Remaining hospitals with reports covering more than one full year
duplicate_hcris3 = duplicate_hcris2[~duplicate_hcris2.index.isin(unique_hcris3.index)].copy()
duplicate_hcris3['time_diff'] = duplicate_hcris3['time_diff'].astype(int)
duplicate_hcris3['total_days'] = duplicate_hcris3['total_days'].astype(int)

cols_to_weight = ['tot_charges', 'tot_discounts', 'tot_operating_exp', 'ip_charges',
                  'icu_charges', 'ancillary_charges', 'tot_discharges', 'mcare_discharges',
                  'mcaid_discharges', 'tot_mcare_payment', 'secondary_mcare_payment',
                  'hvbp_payment', 'hrrp_payment']

duplicate_hcris3[cols_to_weight] = duplicate_hcris3[cols_to_weight].mul(
    duplicate_hcris3['time_diff'] / duplicate_hcris3['total_days'], axis=0)

In [19]:
# Weighted average
unique_hcris4 = duplicate_hcris3.groupby(['provider_number', 'fyear']).agg({
    'beds': 'max', 'tot_charges': 'sum', 'tot_discounts': 'sum',
    'tot_operating_exp': 'sum', 'ip_charges': 'sum', 'icu_charges': 'sum',
    'ancillary_charges': 'sum', 'tot_discharges': 'sum', 'mcare_discharges': 'sum',
    'mcaid_discharges': 'sum', 'tot_mcare_payment': 'sum',
    'secondary_mcare_payment': 'sum', 'hvbp_payment': 'sum', 'hrrp_payment': 'sum',
    'fy_start': 'min', 'fy_end': 'max', 'date_processed': 'max', 'date_created': 'min',
    'street': 'first', 'city': 'first', 'state': 'first',
    'zip': 'first', 'county': 'first'
}).reset_index()
unique_hcris4['source'] = 'weighted_average'

In [20]:
# Combine final datasets
final_hcris_data = pd.concat([unique_hcris1, unique_hcris2, unique_hcris3, unique_hcris4])
final_hcris_data = final_hcris_data.rename(columns={'fyear': 'year'}).sort_values(by=['provider_number', 'year'])

In [21]:
# Save final data ---------------------------------------------------------
final_hcris_data.to_csv('/Users/ellenwu/homework2-2/data/*/output/HCRIS_Data.csv', index=False)