In [43]:
import os 
import pandas as pd
import numpy as np
from IPython.display import Markdown, display
import warnings
warnings.simplefilter('ignore')

In [44]:
print(os.getcwd())

/Users/ellenwu/homework2-2/submission3/data-code

In [ ]:
print(os.path.exists('/Users/ellenwu/homework2-2/data/*/input/HCRISv1996'))
print(os.path.exists('/Users/ellenwu/homework2-2/data/*/input/HCRISv2010/HCRISv2010'))

input("input to continue")
# Call individual scripts -------------------------------------------------
exec(open('/Users/ellenwu/homework2-2/submission3/data-code/H1_HCRISv1996.py').read())
exec(open('/Users/ellenwu/homework2-2/submission3/data-code/H1_HCRISv2010.py').read())

True
True

In [45]:
# Read and combine data ---------------------------------------------------
HCRIS_v1996 = pd.read_csv('/Users/ellenwu/homework2-2/data/*/output/HCRIS_v1996.csv')
HCRIS_v2010 = pd.read_csv('/Users/ellenwu/homework2-2/data/*/output/HCRIS_v2010.csv')

In [46]:
# Create missing variables for columns introduced in v2010
HCRIS_v1996['hvbp_payment'] = np.nan
HCRIS_v1996['hrrp_payment'] = np.nan

In [47]:
# Combine v1996 and v2010 datasets
HCRIS_Data = pd.concat([HCRIS_v1996, HCRIS_v2010])

In [48]:
# Convert date columns to datetime format
for col in ['fy_end', 'fy_start', 'date_processed', 'date_created']:
    HCRIS_Data[col] = pd.to_datetime(HCRIS_Data[col], format='%m/%d/%Y')

In [49]:
# Convert to absolute values
HCRIS_Data['tot_discounts'] = HCRIS_Data['tot_discounts'].abs()
HCRIS_Data['hrrp_payment'] = HCRIS_Data['hrrp_payment'].abs()

In [50]:
# Extract fiscal year and sort
HCRIS_Data['fyear'] = HCRIS_Data['fy_end'].dt.year
HCRIS_Data = HCRIS_Data.sort_values(by=['provider_number', 'fyear']).drop(columns=['year'], errors='ignore')

In [51]:
# Count hospitals per year
hospital_counts = HCRIS_Data.groupby('fyear').size()

In [53]:
# Clean data --------------------------------------------------------------

# Create count of reports by hospital fiscal year
HCRIS_Data['total_reports'] = HCRIS_Data.groupby(['provider_number', 'fyear'])['provider_number'].transform('count')
HCRIS_Data['report_number'] = HCRIS_Data.groupby(['provider_number', 'fyear']).cumcount() + 1

In [54]:

# Identify hospitals with one report per year
unique_hcris1 = HCRIS_Data[HCRIS_Data['total_reports'] == 1].drop(columns=['report', 'total_reports', 'report_number', 'npi', 'status'], errors='ignore')
unique_hcris1['source'] = 'unique reports'
print(unique_hcris1)

      provider_number   fy_start     fy_end date_processed date_created  \
2440            10001 2016-10-01 2017-09-30     2018-07-19   2018-07-10
347             10005 2016-10-01 2017-09-30     2018-03-19   2018-03-12
4767            10006 2017-07-01 2018-06-30     2018-12-20   2018-12-13
136             10007 2016-10-01 2017-09-30     2018-03-07   2018-03-05
979             10008 2017-01-01 2017-12-31     2018-06-04   2018-05-26
...               ...        ...        ...            ...          ...
1566           673060 2017-01-01 2017-12-31     2018-06-22   2018-06-20
3405           673061 2017-06-01 2018-05-31     2018-11-02   2018-11-01
2587           673062 2017-01-01 2017-12-31     2018-07-19   2018-06-26
5065           673063 2017-08-01 2018-07-31     2019-01-24   2019-01-03
3052           673064 2017-04-01 2018-03-31     2018-09-17   2018-09-10

       beds   tot_charges  tot_discounts  tot_operating_exp   ip_charges  ...  \
2440  387.0  1.707737e+09   1.382630e+09        344247883.0  161489039.0  ...
347   204.0  5.112797e+08   3.603744e+08        159283147.0   18803635.0  ...
4767  358.0  7.973004e+08   6.354261e+08        144290886.0   43885444.0  ...
136    45.0  4.837719e+07   3.021275e+07         20712628.0    1772050.0  ...
979    29.0  3.093318e+07   2.247877e+07         11441012.0    1251817.0  ...
...     ...           ...            ...                ...          ...  ...
1566   40.0  2.267415e+07   7.117889e+06         13697329.0    9117498.0  ...
3405   45.0  5.131569e+07   3.220548e+07         18572834.0   26174360.0  ...
2587   26.0  1.196616e+07   4.157850e+06          6890142.0    7092183.0  ...
5065   93.0  6.214735e+07   3.102904e+07         29011909.0   38766000.0  ...
3052   41.0  9.417980e+06   4.346229e+06          6498521.0    3766800.0  ...

      secondary_mcare_payment                           street          city  \
2440                 118513.0           1108 ROSS CLARK CIRCLE        DOTHAN
347                   42861.0            2505 U.S. HIGHWAY 431          BOAZ
4767                  64294.0               205 MARENGO STREET      FLORENCE
136                     716.0                  702 MAIN STREET           OPP
979                       NaN      CRENSHAW COMMUNITY HOSPITAL       LUVERNE
...                       ...                              ...           ...
1566                      NaN           900 WEST ARBROOK BLVD.     ARLINGTON
3405                      NaN  110 E. MEDICAL CENTER BOULEVARD       WEBSTER
2587                      NaN                    703 EUREKA ST   WEATHERFORD
5065                      NaN            4302 PRINCETON STREET       LUBBOCK
3052                      NaN          3100 PETERS COLOBY ROAD  FLOWER MOUND

      state         zip      county  hvbp_payment hrrp_payment fyear  \
2440     AL       36301     HOUSTON      -50243.0     434263.0  2017
347      AL      35957-    MARSHALL      -52278.0     198926.0  2017
4767     AL       35630  LAUDERDALE     -239493.0     421293.0  2018
136      AL      36462-   COVINGTON       -5583.0       3167.0  2017
979      AL       36049    CRENSHAW           NaN       1382.0  2017
...     ...         ...         ...           ...          ...   ...
1566     TX       76018     TARRANT           NaN          NaN  2017
3405     TX       77598      HARRIS           NaN          NaN  2018
2587     TX       76086      PARKER           NaN          NaN  2017
5065     TX       79415     LUBBOCK           NaN          NaN  2018
3052     TX  75022-2949         NaN           NaN          NaN  2018

              source
2440  unique reports
347   unique reports
4767  unique reports
136   unique reports
979   unique reports
...              ...
1566  unique reports
3405  unique reports
2587  unique reports
5065  unique reports
3052  unique reports

[6095 rows x 26 columns]

In [33]:
# Identify hospitals with multiple reports per year
duplicate_hcris = HCRIS_Data[HCRIS_Data['total_reports'] > 1].copy()
print(duplicate_hcris)

      report  provider_number  npi   fy_start     fy_end date_processed  \
15    603594            50313  NaN 2017-01-01 2017-04-30     2017-10-17
1589  628008            50313  NaN 2017-05-01 2017-12-31     2018-06-25
89    619590            50528  NaN 2017-01-01 2017-04-30     2018-02-28
1598  628017            50528  NaN 2017-05-01 2017-12-31     2018-06-25
14    603229            50557  NaN 2017-01-01 2017-04-30     2017-10-17
...      ...              ...  ...        ...        ...            ...
1884  628432           514001  NaN 2017-09-27 2017-12-31     2018-06-26
52    614315           670058  NaN 2017-01-01 2017-06-30     2018-01-19
2706  630024           670058  NaN 2017-07-01 2017-12-31     2018-07-24
53    614316           670095  NaN 2017-01-01 2017-06-30     2018-01-19
2712  630030           670095  NaN 2017-07-01 2017-12-31     2018-07-24

     date_created  status   beds  tot_charges  ...  \
15     2017-10-11       1   81.0  150375828.0  ...
1589   2018-06-22       1   77.0  305015418.0  ...
89     2018-02-26       1   44.0   80067836.0  ...
1598   2018-06-22       1   40.0  163061631.0  ...
14     2017-10-06       1  423.0  719411267.0  ...
...           ...     ...    ...          ...  ...
1884   2018-06-18       1   40.0   13122100.0  ...
52     2018-01-17       1    7.0   10068729.0  ...
2706   2018-06-30       1    7.0    9240266.0  ...
53     2018-01-12       1    8.0   10629044.0  ...
2712   2018-07-01       1    8.0   12002135.0  ...

                                street        city  state         zip  \
15                1420 TRACY BOULEVARD       TRACY     CA  95376-3497
1589              1420 TRACY BOULEVARD       TRACY     CA  95376-3497
89                   520 WEST I STREET   LOS BANOS     CA      93635-
1598                 520 WEST I STREET   LOS BANOS     CA      93635-
14                    1700 COFFEE ROAD     MODESTO     CA      95355-
...                                ...         ...    ...         ...
1884                   300 56TH STREET  CHARLESTON     WV      25364-
52     16000 SOUTHWEST FRWY  SUITE 100  SUGAR LAND     TX       77479
2706   16000 SOUTHWEST FRWY  SUITE 100  SUGAR LAND     TX       77479
53    24429 TOMBALL PARKWAY  SUITE 100     TOMBALL     TX       77375
2712  24429 TOMBALL PARKWAY  SUITE 100     TOMBALL     TX       77375

           county  hvbp_payment  hrrp_payment  fyear  total_reports  \
15    SAN JOAQUIN        -589.0        2138.0   2017              2
1589  SAN JOAQUIN        2304.0       13072.0   2017              2
89         MERCED       14797.0        1870.0   2017              2
1598       MERCED       25194.0        3582.0   2017              2
14     STANISLAUS       -7085.0       63250.0   2017              2
...           ...           ...           ...    ...            ...
1884      KANAWHA           NaN           NaN   2017              2
52      FORT BEND           NaN           NaN   2017              2
2706    FORT BEND           NaN           NaN   2017              2
53         HARRIS           NaN           NaN   2017              2
2712       HARRIS           NaN           NaN   2017              2

      report_number
15                1
1589              2
89                1
1598              2
14                1
...             ...
1884              2
52                1
2706              2
53                1
2712              2

[116 rows x 30 columns]

In [55]:
# Calculate elapsed time between fy start and fy end for hospitals with multiple reports
duplicate_hcris['time_diff'] = (duplicate_hcris['fy_end'] - duplicate_hcris['fy_start']).dt.days
duplicate_hcris['total_days'] = duplicate_hcris.groupby(['provider_number', 'fyear'])['time_diff'].transform('sum')

In [56]:
# Hospitals where total days < 370, sum values
unique_hcris2 = duplicate_hcris[duplicate_hcris['total_days'] < 370].groupby(['provider_number', 'fyear']).agg({
    'beds': 'max', 'tot_charges': 'sum', 'tot_discounts': 'sum',
    'tot_operating_exp': 'sum', 'ip_charges': 'sum', 'icu_charges': 'sum',
    'ancillary_charges': 'sum', 'tot_discharges': 'sum', 'mcare_discharges': 'sum',
    'mcaid_discharges': 'sum', 'tot_mcare_payment': 'sum',
    'secondary_mcare_payment': 'sum', 'hvbp_payment': 'sum', 'hrrp_payment': 'sum',
    'fy_start': 'min', 'fy_end': 'max', 'date_processed': 'max', 'date_created': 'min',
    'street': 'first', 'city': 'first', 'state': 'first',
    'zip': 'first', 'county': 'first'
}).reset_index()
unique_hcris2['source'] = 'total for year'

In [57]:
# Hospitals with reports exceeding 370 days
duplicate_hcris2 = duplicate_hcris[duplicate_hcris['total_days'] >= 370].copy()
duplicate_hcris2['max_days'] = duplicate_hcris2.groupby(['provider_number', 'fyear'])['time_diff'].transform('max')
duplicate_hcris2['max_date'] = duplicate_hcris2.groupby(['provider_number', 'fyear'])['fy_end'].transform('max')

In [58]:
# Primary report selection
unique_hcris3 = duplicate_hcris2[(duplicate_hcris2['max_days'] == duplicate_hcris2['time_diff']) &
                                  (duplicate_hcris2['time_diff'] > 360) &
                                  (duplicate_hcris2['max_date'] == duplicate_hcris2['fy_end'])]
unique_hcris3 = unique_hcris3.drop(columns=['report', 'total_reports', 'report_number', 'npi', 'status', 'max_days', 'time_diff', 'total_days', 'max_date'], errors='ignore')
unique_hcris3['source'] = 'primary report'

In [59]:
# Remaining hospitals with reports covering more than one full year
duplicate_hcris3 = duplicate_hcris2[~duplicate_hcris2.index.isin(unique_hcris3.index)].copy()
duplicate_hcris3['time_diff'] = duplicate_hcris3['time_diff'].astype(int)
duplicate_hcris3['total_days'] = duplicate_hcris3['total_days'].astype(int)

cols_to_weight = ['tot_charges', 'tot_discounts', 'tot_operating_exp', 'ip_charges',
                  'icu_charges', 'ancillary_charges', 'tot_discharges', 'mcare_discharges',
                  'mcaid_discharges', 'tot_mcare_payment', 'secondary_mcare_payment',
                  'hvbp_payment', 'hrrp_payment']

duplicate_hcris3[cols_to_weight] = duplicate_hcris3[cols_to_weight].mul(
    duplicate_hcris3['time_diff'] / duplicate_hcris3['total_days'], axis=0)

In [60]:
# Weighted average
unique_hcris4 = duplicate_hcris3.groupby(['provider_number', 'fyear']).agg({
    'beds': 'max', 'tot_charges': 'sum', 'tot_discounts': 'sum',
    'tot_operating_exp': 'sum', 'ip_charges': 'sum', 'icu_charges': 'sum',
    'ancillary_charges': 'sum', 'tot_discharges': 'sum', 'mcare_discharges': 'sum',
    'mcaid_discharges': 'sum', 'tot_mcare_payment': 'sum',
    'secondary_mcare_payment': 'sum', 'hvbp_payment': 'sum', 'hrrp_payment': 'sum',
    'fy_start': 'min', 'fy_end': 'max', 'date_processed': 'max', 'date_created': 'min',
    'street': 'first', 'city': 'first', 'state': 'first',
    'zip': 'first', 'county': 'first'
}).reset_index()
unique_hcris4['source'] = 'weighted_average'

In [61]:
# Combine final datasets
HCRIS_Data = pd.concat([unique_hcris1, unique_hcris2, unique_hcris3, unique_hcris4])
HCRIS_Data = HCRIS_Data.rename(columns={'fyear': 'year'}).sort_values(by=['provider_number', 'year'])

In [62]:
# Save final data ---------------------------------------------------------
HCRIS_Data.to_csv('/Users/ellenwu/homework2-2/data/*/output/HCRIS_Data.csv', index=False)